# requirements-gpu.txt
--index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.org/simple

torch==2.7.1
transformers==4.53.0
datasets==3.6.0
hf_xet==1.1.5
tqdm==4.67.1
opacus==1.5.4
peft==0.16.0
tokenizers==0.21.2
matplotlib==3.10.3
